# Виртуальное окружение
venv/
.env/
.venv/

# PyCharm
.idea/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Логи и временные файлы
*.log
*.tmp

# Секреты
credentials.json
.env

# Данные
*.DS_Store